.navbar-container{
  position :fixed;
  top: 0;
  width: 100%;
  padding: 0.9rem 0;
  background: rgba(0, 0, 0, 0.884);
  color: white;
  border-bottom: 4px solid rgb(157, 28, 237);
}

.navbar{
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}

.nav-title{
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.option-container{
  display: flex;
  gap: 40px;
  margin-right: 0.8rem;
  justify-content: space-evenly;
  align-items: center;
}

.option-container>p:first-of-type{
  background: rgb(139, 3, 224);
}

.option-container>p{
  transition: all ease 700ms;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 16px;
}

.option-items{
  font-weight: 600;
  font-size: 1.03rem;
}

.option-container>p:hover{
  background: rgb(139, 3, 224);
}

.option-small-container{
  /* padding: 2px 0; */
  font-size: 1.3rem;
  display: none;
}

button:active{
  background-color: rgb(186, 80, 252);
}

.menu{
  background: transparent;
  outline: none;
  border: none;
}

.bar-menu{
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all ease 500ms;
}

.bar-menu>p{
  width: 25px;
  height: 3px;
  /* margin-top: 2px; */
  background: white;
  border-radius: 10px;
  transition: all ease 500ms;
}
.menu > p{
  transform-origin: 0 0;
}
.bar-menu>p:nth-of-type(2):hover{
  background-color: rgb(139, 3, 224);
  transform:translateX(10px)
}

/* .bar-menu:hover>p:nth-of-type(2)
{
  
} */


.close-menu{
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3px 0;
  transition: all ease 500ms;
  gap: 5px;
}

.close-menu > p{
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background: white;
  transition: all ease 500ms, opacity ease 200ms;
}

/* .close-menu>p:hover{
  background-color: rgb(186, 80, 252);
} */

.close-menu>p:first-of-type{
  transform: translate(0,2px) rotate(45deg);
}

.close-menu>p:nth-of-type(2){
 opacity: 0;
}

.close-menu>p:last-of-type{
  transform: translate(-1px,3px) rotate(-45deg);
}



/* media queries */

/* for small screens */
@media screen and (min-width:350px) and (max-width:649px) {
  .navbar{
    margin: 0 15px;
  }

  .nav-title{
    font-size: 1rem;
  }

  .option-container > *{
    display: none;
  }

  .option-small-container{
    display: block;
  }
}

/* for medium screen */
@media screen and (min-width:650px) and (max-width:900px) {
  .navbar{
    margin: 0 20px;
  }

  .nav-title{
    font-size: 1rem;
  }
  .option-container{
    margin-right: 0px;
    justify-content: center;
  }
  
  .option-container>p{
    padding: 8px 10px;
  }

  .option-container > *{
    gap: 0px;
  }
}

/* for large screen */
@media screen and (min-width:901px) and (max-width:1000px) {
  .navbar{
    margin: 0 40px;
  }

  .nav-title{
    font-size: 1.5rem;
  }

  .option-container > *{
    gap: 25px;
  }
}